<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
         http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!--导入hibernate相关配置-->
    <import resource="hibernateApplication.xml"/>
      <!--配置登陆的action-->
    <bean id="loginAction" class="com.itlike.web.LoginAction" scope="prototype">
        <property name="loginService" ref="loginService"/>
    </bean>

    <bean id="loginService" class="com.itlike.service.impl.LoginServiceImpl">
        <property name="userDao" ref="userDao"/>
    </bean>

    <bean id="userDao" class="com.itlike.dao.impl.UserDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <!--配置分类的action-->
    <bean id="categoryAction" class="com.itlike.web.CategoryAction">
        <property name="categoryService" ref="categoryService"></property>

    </bean>
    <bean id="categoryService" class="com.itlike.service.impl.CategoryServiceImpl">
        <property name="categoryDao" ref="categoryDao"/>
    </bean>
    <bean id="categoryDao" class="com.itlike.dao.impl.CategoryDaoImpl">
      <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    <!--配置文章的action-->
    <bean id="articleAction" class="com.itlike.web.ArticleAction">
        <property name="articleService" ref="articleService"></property>
    </bean>
    <bean id="articleService" class="com.itlike.service.impl.ArticleServiceImpl">
        <property name="articleDao" ref="articleDao"></property>
    </bean>
    <bean id="articleDao" class="com.itlike.dao.impl.ArticleDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

</beans>